{% extends "__layout.twig" %}
{% from "btn.twig" import btn%}
{% block content %}
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
{% for object in synthesizers %}

    <div style="padding: 1%; display: flex; gap: 10px ;flex-direction:column; justify-content: space-between; align-items:center; border: 2px solid rgb(222, 222, 222)">
      
      <div>
        <img style="max-width: 200px; height: auto;" src="{{object.image}}" alt="">
      </div>
      <div style="width: 100% ;">
          {{ btn(object.title, "/synthesizers/" ~ object.id , true)}}
          
        <div style="display: flex;">
          {{ btn("Картинка", "/synthesizers/" ~ object.id ~ "?show=image" , false)}}
          {{ btn("Описание","/synthesizers/" ~ object.id ~ "?show=info", false)}}
        </div>        
      </div>


    </div>
{% endfor %}
</div>
{% endblock %}