{% extends "__layout.twig" %}
{% from "btn.twig" import btn%}
{% block content %}
<div style="display: flex; justify-content: space-around;">
{% for object in synthesizers %}

    <div style="width: 18% ; padding: 1%; display: flex; flex-direction:column; justify-content: space-between; align-items:center; border: 2px solid rgb(222, 222, 222)">
      
      <div style="width: 100%;">
        <img style="width: 100%" src="{{object.image}}" alt="">
      </div>
      <div style="width: 100% ;">
          {{ btn(object.title, "/synthesizers/" ~ object.id , true)}}
          
        <div style="display: flex;">
          {{ btn("Картинка", "/synthesizers/" ~ object.id ~ "/image" , false)}}
          {{ btn("Описание","/synthesizers/" ~ object.id ~ "/info", false)}}
        </div>        
      </div>


    </div>
{% endfor %}
</div>
{% endblock %}