{% extends "__layout.twig" %}
{% from "btn.twig" import btn%}
{% block content %}
<h1>{{title}}</h1>
<h3>{{description}}</h3>
<ul class="nav nav-pills">
  <li class="nav-item">
    {{ btn("Картинка","/synthesizers/" ~ id ~ "/image", is_image)}}
  </li>
  <li class="nav-item">
    {{ btn("Описание", "/synthesizers/" ~ id ~ "/info", is_info)}}
  </li>
</ul>
<div class="container">
    {% block objectcontainer %}
    
    {% endblock %}
</div>
{% endblock %}