{% extends "__layout.twig" %}
{% from "btn.twig" import btn%}
{% block content %}
<h1>Здесь {{title}}</h1>

<ul class="nav nav-pills">
  <li class="nav-item">
    {{ btn("Картинка","/" ~ url_title ~ "/image", is_image)}}
  </li>
  <li class="nav-item">
    {{ btn("Описание","/" ~ url_title ~ "/info", is_info)}}
  </li>
</ul>
<div class="container">
    {% block objectcontainer %}
    
    {% endblock %}
</div>
{% endblock %}