{% extends "__layout.twig" %}
{% from "btn.twig" import btn%}
{% block content %}
    <h1>Добавление ТИПА музыкального плагина</h1>
    <hr>

    {% if message %}
    <div class="alert alert-info">
      {{message}}
      {{ btn(object.title, "/synthesizers/" ~ object.id , false)}}
    </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row g-3">
        <div>
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Изображение</label>
            <input class="form-control" type="file" name="image">
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}