{% extends "__layouts.twig" %}
{% block content %}
<h1>Здесь о синтезаторах</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{ is_image ? "active" : '' }}" aria-current="page" href="/sint/image">
      Картинка
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ is_info ? "active" : '' }}" aria-current="page" href="/sint/info">
      Описание
    </a>
  </li>
</ul>
{% endblock %}